#first{
    border: 1px solid greenyellow;
    width: 27%;
    
    height: 1200px;
    float: left;
}

#container{
    display: flex;
    margin-right: 2%;
    
    width: 68.5%;
    float: right;
  height: 180px;
  margin-top: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    
}

#left{
width: 35%;
    
    height: 100%;
}
#right{

width: 65%;
padding-left: 1.5%;
height: 100%;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#left >img{
width: 100%;
height: 100%;
}
#right>h2{

padding-top: 1%;
margin: 0%;

font-size: 20px;

}
#right>p{

margin: 0%;
color:rgb(54, 53, 53);
font-size: 15px;

}
#right > p1{
font-size: 12px;
padding-top: 10px;
font-weight: 500;
color: rgb(82, 75, 75);

}
#div1{
display: grid;
grid-template-columns: repeat(2,67% 22%);
grid-column-gap:10%;
margin: 0%;

}
#div1 > p2{
font-size: 12px;
margin: 0%;
color: rgb(82, 75, 75);
}
#div1 > p{

background-color: rgb(27, 116, 82);
border-radius: 25px;
margin: 0%;
padding-top: 5px;

text-align: center;
font-size: 13px;
color: white;


}
#div2{
display: grid;
margin: 0%;
grid-template-columns: repeat(2,40% 20%);
grid-column-gap:48%;
}
#div2 >p{
font-size: 18px;
color: rgb(14,132,69);

}
button{
        background-color:rgb(200,50,89);
        border: 1px solid rgb(200,50,89);
        width: 12%;
        text-align: center;
        font-size: 15px;
        height: 45px;
        border-radius: 3px;
        margin-left: 1%;
        font-weight: bold;
        color: white;
    }
    #travelers{
        width: 15%;
        margin-left: 1%;
        text-align: center;
        font-size: 15px;
        height: 40px;
        
    }

#search{

height: 120px;
width: 95%;
margin: auto;}
#place{
width: 40%;
height: 40px;

float: left;
font-size: 17px;
}
#date{
width: 12%;
height: 40px;
margin-left: 10px;

}

#checkbox{  
width: 30%;
display: flex;
justify-content:space-between;
margin-left: 3%;

color:rgb(97, 97, 97);

font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
align-items: center;
padding: 2%;
}
#checkbox>label{
padding-right: 18%;
font-weight: 500;
font-size: 14px;
}
#check{
        transform: scale(1.3);
    }
    #upperleft{
         
        width: 25%;
        float: left;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin-left: 2.5%;
        
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
    #gmap{
      
width: 100%;
height: 120px;
    }
    #maptext{
        text-decoration: none;
       text-align: center;
      color: rgb(0, 126, 143);
      font-weight: 400;
     
       
    }
    #maph2{
        font-size: 20px;
       
    }
    #mapinput{
        width: 80%;
        height: 40px;
        border: 2px solid rgb(0, 126, 143);
        border-radius: 3px;
        padding-left: 20px;
        font-size: 17px;
       
    }
    #mapp{
        font-size: 14px;
        font-weight: 700;
    }
    #mapcheckbox{
        display: grid;
        grid-template-columns: repeat(1,7% 85%);
       grid-gap:20px 10px;
       font-size: 14.2px;
       color:rgb(97, 97, 97);
       font-weight: 460;

    }
    #rating{
        display: grid;
        grid-template-columns: repeat(5,1fr);
        grid-column-gap:10px;
      

    }
    #rating>div{
        border: 0.5px solid rgb(158, 154, 154);
        height: 30px;
        border-radius: 5px;
        text-align: center;
        padding-top: 7px;
        font-weight: 500;
        font-size: 15px;
        color:rgb(97, 97, 97);
        
    }
    #lablep{
        margin: 1%;
        font-size: 12px;
        color:rgb(97, 97, 97);
        font-weight: 400;
        

    }
    #checkk{
        transform: scale(1.7);
    }