#firstimage{
    text-align:center ;
    margin-left: 45%;
    height: 30px;
    margin-top: 2px;
}
h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-size: 28px;
   

}
#signin{
    display: grid;
    grid-template-columns: repeat(1);
    width: 100%;
    margin: auto;
    border-radius: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

   

}
#up{
    width: 32%;
    margin-top: 20px;
    
   
    border-radius: 10px;
    margin: auto;
    
}
label{
    padding-top: 20px;
}
input{
    height: 43px;
    font-size: 15px;
    padding-left: 10px;
    
}
button{
    background-color:rgb(200,50,89);
    border: 1px solid rgb(200,50,89);
    text-align: center;
    height: 45px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 2px;
    margin-top: 20px;
    color: white;
}
p{
    line-height: 16px;
    color: rgb(97, 97, 97);
    vertical-align:baseline;
      letter-spacing:normal;
    
    font-size: 12px;
    padding-top: 10px;
}
p1{
    color: rgb(90, 86, 86);
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 18px;
    margin-top: 20px;
    
  
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} 
.p11{
    color:rgb(0,126,143);
    font-size: 14px;
}
p4{
    margin-top: 20px;
    text-align: center;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}
#button2{

    background-color: rgb(236,237,240);
   
    border-radius: 3px;
    height: 43px;
}
p3{
    text-align: center;
    font-size: 14px;
    color: rgb(116, 116, 116);
}
#email , #first, #last{
    margin-bottom: 20px;
}
p4{
    color: rgb(97, 97, 97);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 14px;
}
a{
color:rgb(0,126,143); 
text-decoration: none;
}



 #imge{
     display: flex;
   padding-top: 20px; 
   margin: auto;
    width: 100px;
     padding-right: 20px;
     
    
}  
#fb, #apple{
   margin-left: 20px;
   width: 18px;
    height: 18px;
    
}
@media only screen and (min-width:0px) and (max-width: 480px) {
    #up{
        width: 90%;
        text-align: center;
        margin: auto;
    }
    
}

@media only screen and (min-width:481px) and (max-width: 768px) {
    #up{
        width:65%;
        text-align: center;
        margin: auto;
    }
    
}
